{% extends 'movieapp/base.html' %}
{% load static %}
{% block title %}{{ movie.title }}{% endblock %}
{% block body %}
{% if movie_details %}
{% for movie in movie_details %}
<div class="container-fluid songs-container">
    <div class="media">
      <div class="media-left">
        <a href="#">
            {% if movie.poster_url %}
                <img class="media-object" src="{{ movie.poster_url }}" alt="...">
            {% else %}
            <img class="media-object" src="/static/img/no-img.jpg alt="...">
            {% endif %}
        </a>
      </div>
      <div class="media-body">
        <h1 class="media-heading">{{ movie.title }}</h1>
        <h5><strong>Year</strong> : {{ movie.year }}</h5>
        <h5><strong>Rated</strong> : {{ movie.rated }}</h5>
        <h5><strong>Released</strong> : {{ movie.released }}</h5>
        <h5><strong>Language</strong> : {{ movie.language }}</h5>
        <h5><strong>Genre</strong> : {{ movie.genre }}</h5>
        <h5><strong>Director</strong> : {{ movie.director }}</h5>
        <h5><strong>Genre</strong> : {{ movie.genre }}</h5>
        <h5><strong>IMDB Rating</strong> : {{ movie.imdbrating }}</h5>
        <h5><strong>Plot:</strong></h5>
        <p>{{ movie.plot }}</p>
      </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
